@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,600;1,600&family=Tilt+Neon&display=swap');
body{
    background-color: rgb(227, 224, 220);
    font-family: "Mulish";
    margin-left: 10cm;
    margin-right: 10cm;
}

li{
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    color: blue;
}


a{
    text-decoration:none;
    color: blue;
}

a:hover{
    text-decoration: underline;
    color: rgb(6, 14, 103); 
}

h1{
    text-align: center;
    color: blue;
    font-weight: 1000;
    font-size: 45px;
}

img{
    width:50%;
    margin: auto;
    display: block;
    border-radius: 50%;
}
h2{
    text-align: left;
    color:blue; 
    font-weight: 200;
    font-size: 20px;
    font-family: "Quicksand";
    margin: 0%;
}
    
h3{ text-align: left;
   color: blue;
   font-weight: 800;
   font-size: 35px;
}

p{
    text-align: left;
    color: rgb(6, 14, 103); 
    font-weight: 100;
    text-align: justify;
    font-size: 16px;
    font-family: "Quicksand";
}

